<!-- Sidebar -->
      <section id="sidebar">
      
      <!-- Intro -->
        <section id="intro">
          <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
          <header>
            <h2>Completely Mango</h2>
            <p>Subtext goes here</p>
          </header>
        </section>

        <!-- Mini Posts -->
        <section>
          <div class="mini-posts">
            {% for post in paginator.posts %}
            <!-- Mini Post -->
            <article class="mini-post">
              <header>
                <h3><a href="#">{{ post.title }}</a></h3>
                <time class="published" datetime="{{ post.date | date: "%y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
              </header>
              <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
            </article>
            {% endfor %}
          </div>
        </section>

        <!-- Posts List -->
        <section>
          <ul class="posts">
            {% for post in paginator.posts %}
            <li>
              <article>
                <header>
                  <h3><a href="#">Lorem ipsum fermentum ut nisl vitae</a></h3>
                  <time class="published" datetime="{{ post.date | date: "%y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                </header>
                <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
              </article>
            </li>
            {% endfor %}
          </ul>
        </section>

        <!-- About -->
        <section class="blurb">
          <h2>About</h2>
          <p>Hellooooooo. I'm Jerry, and this is where I plan on writing about the various projects I do in my free time. Right now it's pretty sparse, but hopefully in time it'll have lots more information. Thanks for stopping by.</p>
          <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
          </ul>
        </section>

        <!-- Footer -->
        <section id="footer">
          <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <p class="copyright">&copy; Completely Mango. Design: <a href="http://html5up.net">HTML5 UP</a>..</p>
        </section>

</section>
</div>
